.dev .card-img-top{
  width: 100%;
  height: 100vw;
  max-height: 325px;
  object-fit: cover;
}
.Map .mapimg {
    width: 100%;
    max-width: 80vw;
}
#badgeList .badge-light {
    pad: 8px;
}
#carouselLink1 a{
    color: white;
}
#carouselLink2 a{
    color: white;
}
#carouselLink3 a{
    color: white;
}
.spaced {
    display: flex;
    justify-content: space-between;
}

.aboutBG{
  background-size: 100% auto;
  background-repeat: repeat-y;
}
#pagebar .page-link {
    background-color: #efebe9;
    color: black;
}

#pagebar .active .currentPage {
    background-color: #795548;
    border: #000000;
}
#pagebar .disabled .page-link{
    color: grey;
}
.col-md-6{
    flex-direction: column;
    align-items: stretch;
}

