.foot footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.foot footer p {
  margin-bottom: .25rem;
}

.fillPage {
  min-height: 80vh;
}
.page404{
  min-height: 90vh;
}

.listingPage {
  background-image : url('./../Assets/background.jpg');
  background-size: cover;
}
a{
  color: #4e342e;
  -webkit-transition: all 500ms; /* Safari */
    transition: all 500ms;
}

a:active { 
  font-size: 17px; 
  color:darkgray;
  font-size-adjust: 16px;
}

a:hover{
  color:darkgray;
}
