.navbar-toggler-icon{
    -webkit-transition: all 300ms; /* Safari */
    transition: all 300ms;
}

.navbar-toggler-icon:active{
    transform: scale(.7);
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.activePage {
  background-color: #6d4c41;
}
