/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/*
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.vetEntity .carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.vetEntity .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.vetEntity .carousel-item {
  height: 32rem;
  background-color: black;
}
.vetEntity .carousel-item > img {
 
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  height: 32rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .vetEntity .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

.vetEntity .card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.vetEntity .blog-pagination {
  margin-bottom: 4rem;
}
.vetEntity .blog-pagination > .btn {
  border-radius: 2rem;
}